
.principal{
  background: #fafafa;
  padding: 30px;
  margin-top: 1px;
  border-radius: 20px;
  font-family: 'Roboto';font-size: 16px;
}

.pregunta{
  font-family: 'arial';
}

.form-check-input{
  margin-right: 10px;
}
